/* body {
    background-color: red;
} */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame {
    height: 400px;
    width: 400px;

    border-radius: 10px;
    background-color: rgb(229,98,98);

    display: flex;
    align-items: center;
    justify-content: center;
}
    .circles {
        height: 100px;
        width: 100px;
        /* background-color: bisque; */

        position: absolute;
    }
    .circles span {
        border-radius: 50%;
        background-color: white;
        box-shadow: 
        7.5px 12.5px 10px 4px 
        rgba(0, 0, 0, 0.35), 
        -5px -5px 20px 1px 
        rgba(255, 255, 255, 0.25);
    }
        /* .class {
            height: 0px;
            width: 0px;

            position: inherit;
            top: 0px;
            left: 0px;

            border: 0;
            border-radius: 0px;

            background-color: 0000;
            box-shadow: left top blur-effect size;
        } */
        .circles .circle-external {
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0%;
            left: 0%;
        }
            .circles span:nth-child(1){
                width: 100px;
                height: 100px;
                background: red;
                transition: width 2s;
            }
        .circles .circle-medium {
            height: calc(100% * 2/3);
            width: calc(100% * 2/3);

            position: absolute;
            top: calc( calc(100% - calc(100% * 2/3)) /2);
            left: calc( calc(100% - calc(100% * 2/3)) /2);
        }
        .circles .circle-internal {
            height: calc(100% * 1/3);
            width: calc(100% * 1/3);
            
            position: absolute;
            top: calc( calc(100% - calc(100% * 1/3)) /2);
            left: calc( calc(100% - calc(100% * 1/3)) /2);
        }

