:root {
    --bezier: cubic-bezier(.21,.98,.6,.99);
}


* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame {
    height: 400px;
    width: 400px;

    border-radius: 10px;
    background-color: rgb(229,98,98);

    display: flex;
    align-items: center;
    justify-content: center;
}
    .circles {
        height: 100px;
        width: 100px;
        /* background-color: bisque; */

        position: absolute;
    }
    .circles span {
        border-radius: 50%;
        background-color: white;
        box-shadow: 3.5px 5.5px 5px 4px rgba(0, 0, 0, 0.08), -5px -5px 20px 1px rgba(255, 255, 255, 0.2);
        
        position: absolute;
            top: 0;
            left:0;
            bottom: 0;
            right:0;
        margin: auto auto;
    }
        /* .class {
            height: 0px;
            width: 0px;

            position: inherit;
            top: 0px;
            left: 0px;

            border: 0;
            border-radius: 0px;

            background-color: 0000;
            box-shadow: left top blur-effect size;
        } */
        .circles .circle-external {
            height: 100%;
            width: 100%;
            z-index: 1;

            animation-name: externalExpand;
                animation-duration: 2s;
                animation-timing-function: var(--bezier);
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: both;
        }
            @keyframes externalExpand {
                0%, 10% { transform: scale(0); }
                100% { transform: scale(1); }
            }
        .circles .circle-medium {
            height: calc(100%*2/3);
            width: calc(100%*2/3);
            z-index: 2;

            animation-name: mediumExpand;
                animation-duration: 2s;
                animation-timing-function: var(--bezier);
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: both;
        }
            @keyframes mediumExpand {
                0%, 40% { transform: scale(0); }
                100% { transform: scale(1); }
            }
        .circles .circle-internal {
            height: calc(100%*1/3);
            width: calc(100%*1/3);
            z-index: 3;

            animation-name: internalExpand;
                animation-duration: 2s;
                animation-timing-function: var(--bezier);
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-fill-mode: both;
        }
            @keyframes internalExpand {
                0%, 70% { transform: scale(0); }
                100% { transform: scale(1); }
            }